prime

In [12]:
n=int(input())
count=0
for i in range(1,n+1):
  if(n%i==0):
    count+=1
if(count==2):
  print("prime")
else:
  print("no")

3
prime

factorial

In [ ]:
n=int(input())
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

5
120

fibnocci series upto n

In [ ]:
n=int(input())
a=0
b=1
print(a,b,end=" ")
for i in range(2,n):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

10
0 1 1 2 3 5 8 13 21 34

find sum of digits of a given number

> Add blockquote

In [ ]:
n=int(input())
sum=0
while(n>0):
  rem=n%10
  sum=sum+rem
  n=n//10
print("sum of digits:",sum)

123
sum of digits: 6

reverse of a number

In [ ]:
n=int(input())
rev=""
while(n>0):
  rem=n%10
  rev=rev+str(rem)
  n=n//10
print(rev)

123
321